img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
  list-style: none;
}

.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.country-search {
  display: block;
  width: 100%;
  max-width: 350px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  &::placeholder {
    color: rgba(5, 5, 59, 0.623);
    font-size: 18px;
  }
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
body {
  font-family: 'Fira Sans', sans-serif;
  background-image: linear-gradient(to right, rgba(82, 91, 189, 0.288), rgba(192, 196, 247, 0.4)),
    url('../images/planet.jpg');
  background-size: cover;
}
.country-info {
  list-style: none;

  font-size: 18px;
  line-height: 1.25;
}
.countryList {
  list-style: disc;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}
.country-name {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.171;
  text-align: center;
  color: rgb(6, 4, 88);
  margin-top: 20px;
  margin-bottom: 30px;
}
.searcher-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.country-flag {
  width: 400px;
  height: 250px;
}
.country-info-point {
  font-size: 28px;
  margin-right: 70px;
}

.lng-item {
  list-style: disc;
  margin-left: 50px;
}
